---
layout: default
main_title: PostgreSQLユーザ会中国支部主催「第28回 中国地方DB勉強会 in 岡山」にて当社堀本泰弘が登壇
sub_title:
type: press
---

<p class='press-release-subtitle-small'>
2020年1月25日 16:20から「Amazon RDS + Amazon EC2 + ロジカルレプリケーションを使った低コスト高速全文検索」

<div class="press-release-signature">
  <p class="date">2020年1月16日</p>
  <p>株式会社クリアコード
</div>

<p>
オープンソースの全文検索エンジンGroongaを開発する株式会社クリアコード（本社：東京都豊島区、代表取締役：須藤 功平）は、PostgreSQLユーザ会中国支部主催「第28回 中国地方DB勉強会 in 岡山」にて当社エンジニア 堀本泰弘が、「Amazon RDS + Amazon EC2 + ロジカルレプリケーションを使った低コスト高速全文検索」というテーマで講演することをお知らせします。

<h2 id='schedule'>第28回 中国地方DB勉強会 in 岡山の概要</h2>

<p>
日時：2020年1月25日（土） 13時20分から17時30分<br>
会場：岡山大インキュベータ<br>
定員：20名<br>
参加費：無料<br>
詳細・申し込み：<a href='https://dbstudychugoku.connpass.com/event/158127/'>https://dbstudychugoku.connpass.com/event/158127/</a>

<h2 id='overview'>講演の概要</h2>

<p>
昨年11月15日にPostgreSQL Conference Japan 2019にて発表した「Amazon RDS + Amazon EC2 + ロジカルレプリケーションを使った低コスト高速全文検索」の再演です。

<p>
PostgreSQL で使用できる全文検索の拡張に PGroonga という高速で高性能な拡張があります。 PGroonga は、全言語対応の超高速全文検索機能を PostgreSQL で使用できるようにする拡張で、 安定して高速で、かつ高機能（同義語、表記ゆれや異字体への対応、類似文書検索などが使用可能）です。

<p>
Amazon RDS は Amazon がクラウド上で提供する RDBS サービスで、データベースのインストールや パッチ適用、スケールアウト、バックアップなどを Amazon が対応してくれるため、 運用上の手間を大幅に減らすことができます。

<p>
Amazon RDS は、拡張機能を自由にインストールすることができず、 使用できるのは以下の一覧にある拡張だけです。<br>
<a href='https://docs.aws.amazon.com/ja_jp/AmazonRDS/latest/UserGuide/CHAP_PostgreSQL.html#PostgreSQL.Concepts.General.FeatureSupport.Extensions.11x'>https://docs.aws.amazon.com/ja_jp/AmazonRDS/latest/UserGuide/CHAP_PostgreSQL.html#PostgreSQL.Concepts.General.FeatureSupport.Extensions.11x</a><br>
PGroonga も使用できないため、日本語を始めとする多言語対応の超高速全文検索機能を Amazon RDS では使用できません。

<p>
そこで、PostgreSQL 10 から使用できるようになった、ロジカルレプリケーションと Amazon EC2 上にインストールした PostgreSQL と PGroonga を使って RDS のメリットである、 運用の負担を少なくしつつ、PGroonga を使用して高速で高機能な全文検索ができるような構成を考えました。

<p>
本発表では、どのような構成で Amazon RDS のメリットを活かしつつ、Amazon EC2 上で PGroonga を使った全文検索ができるのかを紹介します。

<h2 id='groonga'>Groongaについて</h2>

<p>
Groonga &lt;&lt;グルンガ&gt;&gt; は、オープンソースのカラムストア機能付き全文検索エンジンです。Groongaを使うことにより、高性能な全文検索機能を備えたアプリケーションを容易に開発することが可能です。

<p>
2010年に1.0.0をリリースしてから、着実にユーザを増やし、レストラン検索サイト、医療機関検索サイト、不動産物件情報サイト等で採用されています。

<h2 id='pgroonga'>PGroongaについて</h2>

<p>
PGroonga &lt;&lt;ピージールンガ&gt;&gt; はPostgreSQLの拡張機能です。PGroongaはGroongaを使用した新しいインデックスアクセスメソッドを提供します。

<p>
PostgreSQL標準の全文検索機能は日本語や中国語などをサポートしていません。PGroongaをPostgreSQLにインストールすると全言語対応の超高速全文検索機能を使用できるようになります。さらに、PGroongaはJSON内のすべてのテキスト値に対する全言語対応全文検索もサポートしています。PGroongaを利用することで、PostgreSQLでGroongaの機能が使用できます。

<h2 id='clearcode'>クリアコードについて</h2>

<p>
クリアコードは10年にわたりGroongaプロジェクトのメンバーとして、Gronnga本体及び関連プロジェクトの開発、リリース、コミュニティでのサポートを行っています。

<p>
また企業向けにはGroongaおよび関連プロジェクトを使ったシステムや製品の開発支援を行っています。これら支援の一環としてお客様の要望を実現するためのGroonga本体の機能拡張も行っており、その成果はGroonga本体に取り込み、すべてのGroongaユーザーがその機能を利用できるようにしています。

<h2 id='contact'>お客様からお問い合わせ先/本リリースに関するお問い合わせ先</h2>

<p>
株式会社クリアコード 担当：南<br>
TEL：03-5927-9440<br>
メール：info@clear-code.com

<h2 id='links'>参考URL</h2>

<p>
<b>【コーポレートサイト】</b>
<a href='https://www.clear-code.com/'>https://www.clear-code.com/</a><br>
<b>【本プレスリリース】</b>
<a href='https://www.clear-code.com/press-releases/20200116-dbstudy.html'>https://www.clear-code.com/press-releases/20200116-dbstudy.html</a>
